[Desktop Entry]
Version=1.0
Type=Application
Name=Conky Autostart
Comment=Conky Autostart
Exec=sh /home/peter/Conky/Kirja/startconky.sh
Path=/home/peter/Conky/Kirja
Terminal=false
StartupNotify=false
